.movie-parent-container {
    width: 1000px;
    margin: 0 auto;
}

.movie-poster-container {
    width: 20%;
    height: 240px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.dropdown {
    display: inline-block;
}

.movie-poster {
    /*height: 240px;*/
}

.discover-selectors {
    margin-bottom: 30px;
    text-align: center;
}

.dropdown-menu {
    overflow-y: auto;
    max-height: 300px;
}