<div class="movie-parent-container">
    <h1>Discover</h1>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Genre
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <!--<li *ngFor="let genre of genres" (click)="changeGenre(genre.name)"><a>{{genre.name}}</a></li>-->
            <li (click)="changeGenre('action')"><a>Action</a></li>
            <li (click)="changeGenre('adventure')"><a>Adventure</a></li>
            <li (click)="changeGenre('animation')"><a>Animation</a></li>
            <li (click)="changeGenre('comedy')"><a>Comedy</a></li>
            <li (click)="changeGenre('crime')"><a>Crime</a></li>
            <li (click)="changeGenre('documentary')"><a>Documentary</a></li>
            <li (click)="changeGenre('drama')"><a>Drama</a></li>
            <li (click)="changeGenre('family')"><a>Family</a></li>
            <li (click)="changeGenre('fantasy')"><a>Fantasy</a></li>
            <li (click)="changeGenre('history')"><a>History</a></li>
            <li (click)="changeGenre('horror')"><a>Horror</a></li>
            <li (click)="changeGenre('music')"><a>Music</a></li>
            <li (click)="changeGenre('mystery')"><a>Mystery</a></li>
            <li (click)="changeGenre('romance')"><a>Romance</a></li>
            <li (click)="changeGenre('scifi')"><a>Science Fiction</a></li>
            <li (click)="changeGenre('tvmovie')"><a>TV Movie</a></li>
            <li (click)="changeGenre('thriller')"><a>Thriller</a></li>
            <li (click)="changeGenre('war')"><a>War</a></li>
            <li (click)="changeGenre('western')"><a>Western</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Year
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li *ngFor="let value of values" (click)="changeYear(value)"><a>{{value}}</a></li>
        </ul>
    </div>


    <div *ngFor="let movie of movies" (click)="onSelect(movie)">
        <div class="col-md-2 movie-container">
            <div class="panel panel-default">
                <div class="movie-poster-container panel-body">
                    <a href="/movie/{{movie.api_id}}"><img src="{{ movie.poster_path }}" alt="{{ movie.title }}"></a>
                </div>

                <!--<div class="movie-summary-container panel-heading">
                    <h3>{{ movie.title }}</h3>
                    <p> {{ movie.overview }} </p>
                </div>-->
            </div>
        </div>
    </div>
</div>

<app-movie-detail [movie]="selectedMovie" (unselectMovie)="onUnselect()"></app-movie-detail> 
