.single-movie-container {
    width: 800px;
    margin: 0 auto;
}

.movie-backdrop-container {
    height: 50%;
}

.single-movie-details-container {
    width: 700px;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
}

.movie-poster-container {
    width: 25%;
    float: left;
}

.movie-summary-container {
    width: 75%;
    float: right;
    /*overflow: hidden;
    white-space: nowrap;*/
}

.overlaid-text {
    color: white;
}

h3 {
    margin-top: 10px;
}

.overview {
    display: inline-block;
}

.navigate-back {
    position: absolute;
    right: 10px;
    top: 75px;
    padding: 3px 6px;
}

.add-collection {
    position: absolute;
    right: 60px;
    top: 75px;
    padding: 3px 6px;
}
