<div class="movie-parent-container">

<div class="panel-wrapper">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Popular</h3></div>
        <div class="panel-body">
            <div class="panel-contents">
                <button class="btn btn-default left-arrow-btn" type="" (click)="getPreviousPopularMovies()"><span class="glyphicon glyphicon-menu-left"></span></button>
                <div *ngFor="let movie of fivePopularMovies" class="movie-poster-container">
                    <div class="movie-poster">
                        <a routerLink="/movie/{{movie.api_id}}"><img src="{{ movie.poster_path }}" alt="{{ movie.title }}"></a>
                    </div>
                </div>
                <button class="btn btn-default right-arrow-btn" type="" (click)="getNextPopularMovies()"><span class="glyphicon glyphicon-menu-right"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="panel-wrapper">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Upcoming</h3></div>
            <div class="panel-body">
                <div class="panel-contents">
                    <button class="btn btn-default left-arrow-btn" type="" (click)="getPreviousNowPlayingMovies()"><span class="glyphicon glyphicon-menu-left"></span></button>
                    <div *ngFor="let movie of fiveNowPlayingMovies" class="movie-poster-container">
                        <div class="movie-poster">
                            <a routerLink="/movie/{{movie.api_id}}"><img src="{{ movie.poster_path }}" alt="{{ movie.title }}"></a>
                        </div>
                    </div>
                    <button class="btn btn-default right-arrow-btn" type="" (click)="getNextNowPlayingMovies()"><span class="glyphicon glyphicon-menu-right"></span></button>
            </div>
        </div>
    </div>
</div>

</div>
