<h1>Popular</h1>
<!--<div *ngIf="popularMovies">
    <div *ngFor="let movie of popularMovies">
        <div class="col-md-2">
                <div class="movie-poster-container">
                    <a routerLink="/movie/{{movie.api_id}}"><img src="{{ movie.poster_path }}" alt=""></a>
                </div>
        </div>
    </div>
</div>-->
<div class="movie-parent-container">
    <div *ngFor="let movie of movies" (click)="onSelect(movie)">
        <div class="col-md-2">
            <!--<div class="panel panel-default movie-container">-->
                <div class="movie-poster-container">
                    <a routerLink="/movie/{{movie.api_id}}"><img src="{{ movie.poster_path }}" alt=""></a>
                </div>

                <!--<div class="movie-summary-container panel-heading">
                    <h3>{{ movie.title }}</h3>
                    <p> {{ movie.api_id }} </p>
                </div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<app-movie-detail [movie]="selectedMovie" (unselectMovie)="onUnselect()"></app-movie-detail> 
