.single-movie-container {
    width: 800px;
    margin: -20px auto 0 auto;
    position: relative;
}

.movie-backdrop-container {
    /*height: 50%;*/
    height: 440px;
    width: 780px;
}

.backdrop-img img {
    display: block;
    margin: 0 auto;
}

.gradient-div {
    width: 780px;
    /*height: 439px;*/
    height: 100px;
    top: 339px;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%); /* Standard syntax */
    position: absolute;
}

.single-movie-details-container {
    width: 700px;
    margin: 0 auto;
    bottom: 60px;
    position: relative;
}

.movie-poster-container {
    width: 25%;
    float: left;
}

.movie-summary-container {
    width: 75%;
    float: right;
    /*overflow: hidden;
    white-space: nowrap;*/
    position: relative;
}

.overlaid-text {
    color: white;
}

h3 {
    margin-top: 10px;
}

.overview {
    display: inline-block;
}

.navigate-back {
    position: absolute;
    right: 10px;
    top: 75px;
    padding: 3px 6px;
}

.add-collection {
    position: absolute;
    right: 60px;
    top: 75px;
    padding: 3px 6px;
}
