<div class="searchbox-container">
    <form>
        <div class="form-group">
            <input #queryInput type="text" class="form-control" placeholder="Search Movies" (keyup)="searchMovies(queryInput.value)">
        </div>
    </form>
</div>

<div class="movie-parent-container">
    <div>
        <div *ngFor="let movie of movies" (click)="onSelect(movie)" class="movie-poster-container">
            <div class="movie-poster">
                <a routerLink="/movie/{{movie.api_id}}"><img src="{{ movie.poster_path }}" alt="{{ movie.title }}"></a>
            </div>
        </div>
    </div>

</div>