.login-window {
    width: 350px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    margin: 20px auto;
    /*box-shadow: 0 10px 6px -6px #e4e4e4;*/
}

.login-container {
    width: 90%;
    margin: 0 auto;
}

.login-button {
    width: 100%;
}

.third.party-btn-container {
    width: 100%;
}

.third-party-login {
    display: block;
    float: left;
    width: 49%;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px;
    padding: 0;
}

.third-party-login img {
    margin-right: 5px;
}

.google-login {
    margin-right: 1%;
}

.facebook-login {
    background-color: #3b5998;
    color: white;
    margin-left: 1%;
}

.lol-btn {
    margin-bottom: 30px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}